{% extends "index.html" %}

{% block title -%}
<title>{{page.title}} | {{config.title}}</title>
<meta property="og:title" content="{{page.title}} | {{config.title}}" />
<meta name="twitter:title" content="{{page.title}} | {{config.title}}" />
{%- endblock title %}

{% block content %}
<header class="my-6">
    <span class="text-gray-700 mr-4">
        <time datetime="{{ page.date | date(format="%d/%m/%Y") | safe }}">
            {{ page.date | date(format="%d/%m/%Y") }}
        </time>
    </span>
    <a class="font-bold" href="{{ page.permalink }}">{{ page.title }}</a>
</header>

<article class="mt-4 mb-12">
    {{ page.content | safe }}
</article>
{%- endblock content %}
